

.hr_ct_Line { display: block; width: 100%; border-style: none; border: 0; background-color: #ffffff; color: #ffffff; height: 1px; text-align: center; margin: 0 auto; margin-top: -22px; font-weight: normal; font-style: normal; text-decoration: none; position: relative;}


.category {
    background-image: url(/scr/background_black.png);
    background-attachment: fixed;
    background-size: 100%;
    max-width: 100%;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
    image-rendering: crisp-edges; image-rendering: -moz-crisp-edges; -ms-interpolation-mode: nearest-neighbor; image-rendering: pixelated;}

.category_text {
    margin-right: 5%;
    margin-left: 35%;
    display: block;
    height: inherit;
    position: relative;}

.ct_text {
    font-size: 55px;
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing: -0.02em;
    word-spacing: 0.25em;
    line-height: 0.9;
    position: absolute;
    display: block;
    text-align: center;
    word-wrap: break-word; overflow-wrap: break-word; 
    bottom: 21px;
    right: 0;
    left: 0;}


@media (max-width:1700px) {
.ct_text {font-size: 55px;}}
@media (max-width:1560px) {
.ct_text {font-size: 50px;}}
@media (max-width:1250px) {
.ct_text {font-size: 40px;
    bottom: 15px;}}
@media (max-width:1000px) {
.ct_text {font-size: 32px;
    bottom: 15px;}}
@media (max-width:780px) {
.ct_text {font-size: 30px;
    bottom: 15px;}}
@media (max-width:600px) {
.ct_text {font-size: 20px;
    bottom: 41px;}}
@media (max-width:400px) {
.ct_text {font-size: 20px;}}


@media (max-width:1620px) {
.category_text {
    margin-right: 5%;
    margin-left: 30%;}}
@media (max-width:1360px) {
.category_text {
    margin-right: 5%;
    margin-left: 25%;}}
@media (max-width:1000px) {
.category_text {
    margin-right: 3%;
    margin-left: 25%;}}
@media (max-width:780px) {
.category_text {
    margin-right: 0%;
    margin-left: 0%;}}


@media (max-width:1250px) {
.category{
  background-size: 100%;
  height: 120px;}}
@media (max-width:1000px) {
.category {
  background-size: 130%;
  margin-bottom: 90px;
  height: 110px;}}
@media (max-width:600px) {
.category {
  background-size: 200%;
  margin-bottom: 80px;}}


@media (max-width:1250px) {
.hr_ct_Line {margin-top: -16px;}}
@media (max-width:1000px) {
.hr_ct_Line {margin-top: -15px;}}
@media (max-width:600px) {
.hr_ct_Line {margin-top: -41px;}}

